<script type="text/javascript">
//<![CDATA[
L.require('ui').then(function(ui) {
	L.require('dom').then(function(dom) {
		L.require("rpc").then(function(rpc){
			var UIWebSocket = ui.AbstractElement.extend({
				__init__: function(host, port) {
	                this.host = host,
	                this.port = port,
	                this.socket = new WebSocket('ws://' + this.host + ":" + this.port)
				},
	            /** @override */
	            render: function() {
	                var divEl = E('div', {
	                    class: 'web-socket',
	                    style: 'display: none'
	                });
	                return this.bind(divEl);
	            },

	            /** @private */
	            bind: function(divEl) {
	                var self = this
	                this.node = divEl;
	                dom.bindClassInstance(divEl, this);
					window.EventBus.registerTo(this.node,"websocket");

					window.EventBus.listenToASAP("UIModal", ["send-at-command"], function(ev) {
						var event_data = ev.detail || {}
						console.log('window.EventBus.listenToASAP "UIModal"', event_data);

						self.socket.send(JSON.stringify({
							proto: "ubus",
							uuid: event_data.uuid || "",
							obj: "tsmodem.driver",
							method: "send_at",
							params: { command: event_data["command"] }
						}));

					})

					window.EventBus.listenToASAP("UIModalSMS_send", ["send-sms"], function(ev) {
						var event_data = ev.detail || {}

						console.log(event_data);

						self.socket.send(JSON.stringify({
							proto: "ubus",
							uuid: event_data.uuid || "",
							obj: "tsmodem.sms",
							method: "send_sms",
							params: { text: event_data["sms_text"], phone: event_data["phone_number"] }
						}));

					})

					window.EventBus.listenToASAP("UIModal", ["send-to-websocket"], function(ev) {
						var event_data = ev.detail || {}
						self.socket.send(JSON.stringify(event_data));
					})

					window.EventBus.listenToASAP("UIModalSMS_send", ["send-to-websocket"], function(ev) {
						var event_data = ev.detail || {}
						self.socket.send(JSON.stringify(event_data));
					})

					window.EventBus.listenToASAP("UISimSettingModal", ["send-at-command"], function(ev) {
						var event_data = ev.detail || {}
						console.log('window.EventBus.listenToASAP "UISimSettingModal"', event_data);

						self.socket.send(JSON.stringify({
							proto: "ubus",
							uuid: event_data.uuid || "",
							obj: "tsmodem.driver",
							method: "send_at",
							params: { command: event_data["command"] }
						}));

					})

					window.EventBus.listenToASAP("UISimSettingModal", ["send-to-websocket"], function(ev) {
						var event_data = ev.detail || {}
						self.socket.send(JSON.stringify(event_data));
					})

			try {
				var self = this;
				this.socket.onopen = function(event) {
					var tsmodem_lock_status = rpc.declare({
						object: 'tsmodem.driver',
						method: 'lock_status',
					});

					var tsmodem_unlock = rpc.declare({
						object: 'tsmodem.driver',
						method: 'unlock',
						params: ["module_name"],
					});

					console.log("Unlock tsmodem on page refresh (if locked by tsmatconsole or simsettingmodal)");
					tsmodem_lock_status().then((lock_status_response) => {
						console.log("lock status:", lock_status_response);

						if(lock_status_response["owner"] == "tsmatconsole" ||
							lock_status_response["owner"] == "simsettingmodal"
						) {
							tsmodem_unlock(lock_status_response["owner"]).then((unlock_response) => {
								console.log("tsmatconsole unlock_status:", unlock_response);
							});
						}
					});
				};

				this.socket.onmessage = function(event) {
					if (event && event.data) {
						var event_data = JSON.parse(event.data) || {}
						if (event_data.ruleid) {
							self.fireEvent(event_data.ruleid, JSON.parse(event.data))
						}
						if (event_data.proto && event_data.proto == "ubus") {
							self.fireEvent("ubus", JSON.parse(event.data))
						}
						if (event_data.module && event_data.module == "tsmatconsole") {
							console.log("Fire: tsmatconsole")
							self.fireEvent("tsmatconsole", JSON.parse(event.data))
						}
					}
				};
	        } catch (exception) {
	          console.log('Error' + exception)
	        }

	        return divEl;
	    },

		fireEvent: function(event_name, event_data) {
				var s = new CustomEvent(event_name, {
					detail: event_data,
					bubbles: true,
				})
				window.EventBus.busobjects["websocket"].dispatchEvent(s);
			},
		});

		ui["WebSocket"] = UIWebSocket;
		window.WebSocket = new ui.WebSocket(window.location.hostname, 7890)
		window.WebSocket_pseudo_widget = window.WebSocket.render()
		});
	});
});

//]]>
</script>
